*{
    background-color: beige;
    margin:0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navbar a{
    float: left;
  color: green;
  background-color: white;
  width: 305px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a:hover {
    background-color:whitesmoke ;
    color: #4b5320;
  }

.navbar a.active {
    background-color: #4CAF50;
    color:black;
  }

.titulo{
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4f7942;
}

.experience{
    display:flex;
    justify-content: space-around;
    color: #29AB87;
}

.caja1{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.caja2{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.caja3{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.aboutme{
    display:flex;
    justify-content: space-around;
}

.parrafo{
    padding: 20px;
    color:#4f7942;
    text-justify: distribute-all-lines;
    text-align: justify;
}

.foto{
    padding: 20px;
    border-radius: 20px;
}

.contacto{
    display: flex;
    justify-content: space-around;
    color: black;
}

.button{
    background-color: lightgray;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    color: black;
}

.info{
    align-items: center;
}
